<!DOCTYPE html>
<html lang="en-US">
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine - DispensaryTrack</title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script>

		var app = angular.module("my-app",[]);
		
		app.factory('interceptor',[function(){
			var interceptor = {
				request:function(config){
					config.headers.Authorization = localStorage.getItem("tkey");
					// debugger;
					return config;
				},
				response:function(response){
					// debugger;
					return response;
				}
			};
			return interceptor;
		}]);
		
		app.config(function($httpProvider){
			$httpProvider.interceptors.push('interceptor');
		});
		
		app.controller('MedicineCtrl',function($scope,$http){
			$http.get("https://localhost:44338/api/medicines").then(function(resp){
			$scope.medicines=resp.data;
			//alert(Success);
            //debugger;
			},function(err){

			});


            
            //form action
            $scope.formAction="Add";

            // update form
            $scope.editMedicine=function(r){
                $scope.medicine=angular.copy(r);
                $scope.formAction="Edit";
            }
            //catagory 
            // var vm = this;
            // $http.get("https://localhost:44338/api/categories").then(function(response) {
            //     // Store retrieved data in variable
            //     vm.dropdownData = response.data;
            // });
            //delete form
            $scope.deleteMedicine=function(r){
            $http.post("https://localhost:44338/api/medicines/delete/"+r.Id).then(function(resp){
                debugger;
                var index = $scope.medicines.indexOf(r);
                $scope.medicines.splice(index, 1);
			},function(err){

			});          
            }
            //submitform
            $scope.submitForm=function(){
                var v=$scope.medicine;
                if($scope.formAction=="Add"){
                    $http.post("https://localhost:44338/api/medicines/insert",v).then(function(resp){
					    //alert(Success);
                        debugger;
				    },function(err){
                    
				    });
                }
                else{
                    $http.post("https://localhost:44338/api/medicines/update",v).then(function(resp){
					    //alert(Success);
                        debugger;
				    },function(err){
                    
				    });
                }
                $scope.clearForm();
            }
            //clear form
            $scope.clearForm = function() {
                $scope.medicine = {Id: '', Name: '', GenenricName: '', Status: 'Inactive'};
                $scope.formAction = 'Add';
            }
			
		});
	</script>

	<body ng-app="my-app">
		<div ng-controller="MedicineCtrl">
            <form ng-submit="submitForm()">
                <input type="hidden" ng-model="medicine.Id" required>
                <label>Name:</label>
                <input type="text" ng-model="medicine.Name" required><br>
                <label>Generic Name:</label>
                <input type="text" ng-model="medicine.GenericName" required><br>
                <input type="text" ng-model="medicine.BuyPrice" ng-init="medicine.BuyPrice='0'">
                <input type="text" ng-model="medicine.SalePrice" ng-init="medicine.SalePrice='0'">
                <input type="text" ng-model="medicine.TotalStock" ng-init="medicine.TotalStock='0'">
                <input type="text" ng-model="medicine.ExpireDate" ng-init="medicine.ExpireDate='2023-10-10'">
                <input type="text" ng-model="medicine.CategoryId" ng-init="medicine.CategoryId='1'">
                <input type="text" ng-model="medicine.RackId" ng-init="medicine.RackId='1'">
                <input type="text" ng-model="medicine.DistributorId" ng-init="medicine.DistributorId='3'">
                <!-- <label>Category Name</label><select ng-model="selectedItem" ng-options="item.name for item in dropdownData"> 
                <option value="">Select an item</option>
                </select>
                <br>-->
                <label>Status:</label>
                <input type="checkbox" ng-model="medicine.Status" ng-true-value="'Active'" ng-false-value="'Inactive'" ng-init="medicine.Status='Inactive'">
                {{medicine.Status}}<br>
                <button type="submit">{{formAction}}</button>
                <button ng-click="clearForm()">Clear</button>
              </form>
              <br><br>
			<table border=1 style="border-collapse: collapse;">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Generic Name</th>
                    <th>Buy Price</th>
                    <th>Sale Price</th>
                    <th>Total Stock</th>
                    <th>Expire Date</th>
                    <th>Status</th>
                    <th>Category ID</th>
                    <th>Rack ID</th>
                    <th>Distributor ID</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="r in medicines">
                    <td>{{ r.Id }}</td>
                    <td>{{ r.Name }}</td>
                    <td>{{ r.GenericName }}</td>
                    <td>{{ r.BuyPrice }}</td>
                    <td>{{ r.SalePrice }}</td>
                    <td>{{ r.TotalStock }}</td>
                    <td>{{ r.ExpireDate }}</td>
                    <td>{{ r.Status }}</td>
                    <td>{{ r.CategoryId }}</td>
                    <td>{{ r.RackId }}</td>
                    <td>{{ r.DistributorId }}</td>
                    <td>
                      <button ng-click="editMedicine(r)">Edit</button>
                      <button ng-click="deleteMedicine(r)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
		</div>
	</body>
</html>
