<!DOCTYPE html>
<html lang="en-US">
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Medicine - DispensaryTrack</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script>

    var app = angular.module("my-app",[]);
    
    app.factory('interceptor',[function(){
      var interceptor = {
        request:function(config){
          config.headers.Authorization = localStorage.getItem("tkey");
          // debugger;
          return config;
        },
        response:function(response){
          // debugger;
          return response;
        }
      };
      return interceptor;
    }]);
    
    app.config(function($httpProvider){
      $httpProvider.interceptors.push('interceptor');
    });
    
    app.controller('PMedicineCtrl',function($scope,$http){
      $http.get("https://localhost:44338/api/purchasemedicines").then(function(resp){
      $scope.purchasemedicines=resp.data;
      //alert(Success);
            //debugger;
      },function(err){

      });

      
    });
  </script>

  <body ng-app="my-app">
    <div ng-controller="PMedicineCtrl">
      <table border=1 style="border-collapse: collapse;">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Total Price</th>
                    <th>Date</th>
                    <th>Stock Medicine ID</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="r in purchasemedicines">
                    <td>{{ r.Id }}</td>
                    <td>{{ r.TotalPrice }}</td>
                    <td>{{ r.Date }}</td>
                    <td>{{ r.StockMedicineId }}</td>
                  </tr>
                </tbody>
              </table>
    </div>
  </body>
</html>
